# Model checkpoints
*.pth
*.pt

# MRI data and outputs
DICOM_Files/
masks_out*/
edited_masks/
mat_out/
*.nrrd

# Generated QC images
*.png

# Python
.venv/
__pycache__/
*.pyc

# IDE
.idea/

# DB
ctkDICOM-Database/
